
<div class="container">
  <div class="row">
      <div class="col-sm-4"></div> 
    <div class="col-sm-4">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" autocomplete="off" class="form">
          
              <mat-form-field >
                <input type="text" matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="formGroup.controls['username'].invalid">
                  {{getError('user')}}
                </mat-error>
              </mat-form-field>
          
              <mat-form-field>
                <input type="password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                <mat-error *ngIf="!formGroup.controls['password'].valid">
                  {{getError('pass')}}
                </mat-error>
              </mat-form-field>
          
           
              <div class="form-inline">
                  <div class="button form-group">
                    <button type="submit" [disabled]="!formGroup.valid" mat-raised-button>Login</button>
                  </div>              
                  <div  class="newregisteration form-group">
                    <button  type="submit" routerLink="/signup" mat-button>Sign up</button>
                  </div>
                  <div class="form-group">
                  <mat-spinner strokeWidth="3" [diameter]="20" *ngIf="Api.loader"></mat-spinner>
                </div>
                
                </div>
              
          
            </form>
          </mat-card-content>
        </mat-card>
      <div>    
      <div class="col-sm-4"></div>         
    </div>
</div>


